.footer-style {
    text-align: center;
    padding: 15px 0;
    margin-top: 10px;
    background-color: mediumseagreen;
    height: 50px;
}

footer p {
    display: inline-block;
    vertical-align: middle;
}
